<body class="login">
  <div class="uber-container">
    <div class="container" style="position: relative;">
      <div class="title-header">
        <h1 class="display-3">NomaCafe</h1>
      </div>
      <div class="session-container">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="sign-link bg-success">
              <p>Sign In With Facebook</p>
            </div>
            <div class="sign-link">
              <p>Sign In With Google</p>
            </div>
            <p class="text-center">Or</p>
            <%= f.input :nomacafe_type,
              as: :hidden,
              input_html: { value: session[:user_type] || "nomad" } %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <%= f.button :submit, "Sign up", class: "btn btn-block btn-round" %>
        <% end %>
        <div class="render">
          <%= render "devise/shared/links" %>
        </div>
      </div>

    </div>
  </div>
</body>

