<body class="login min-vh-100 d-flex align-items-center">
  <div class="uber-container center-div">
    <div class="container" style="position: relative;">
      <div class="title-header">
        <h2>Forgot your password?</h2>
      </div>
      <div>
      </div>
      <div class="session-container">
      
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <%= f.button :submit, "Send instructions", class: "btn btn-block btn-round" %>
        <% end %>
        <div class="render">
          <%= render "devise/shared/links" %>
        </div>
      </div>

    </div>
  </div>
</body>

