<div class="card-trip">
      <% if @user_cafe.photo.attached? %>
        <img src="<%= cl_image_path @user_cafe.photo.key %>" />
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>

      <div class="card-trip-infos">
        <div>
          <h2> <%= @user_cafe.name %></h2>
          <p> <%= @user_cafe.location %></p>
        </div>
        <p class="card-trip-pricing">Minimim credits applied: <%=@user_cafe.credits_range  %></p>
      </div>
    </div>

<div data-controller="toggle4tabs">

  <div class=cafe-tabs>
    <ul class="list-inline tabs-underlined">
      <li>
        <div data-action="click->toggle4tabs#tab1cont" class="tab-underlined" data-toggle4tabs-target="tab1">Bookings</div>
      </li>
      <li>
        <div data-action="click->toggle4tabs#tab2cont" class="tab-underlined" data-toggle4tabs-target="tab2">Tables</div>
      </li>
      <li>
        <div data-action="click->toggle4tabs#tab3cont" class="tab-underlined" data-toggle4tabs-target="tab3">Reviews</div>
      </li>
      <li>
        <div data-action="click->toggle4tabs#tab4cont" class="tab-underlined" data-toggle4tabs-target="tab4">Transactions</div>
      </li>
    </ul>
 </div>



<!-- CAFE_BOOKINGS TAB -->

<div data-toggle4tabs-target="tab1content" class = "calendar-js" data-controller="calendar">
  <div id = "calendar" data-calendar-target="element" data-bookings="<%= @bookings.to_json%>">

  </div>
</div>



<!-- CAFE_TABLES TAB -->


  <div class="cafe-tables" data-toggle4tabs-target="tab2content">
  <ul>


    <% @tables.each do |table| %>
      <li>
    <h5><%= table.name %></h5>

        <p> <strong>Number of Spots: </strong> <%= table.spots %>
            <strong>Type of Seats: </strong> <%= table.seat %>
            <strong>Minimum Credits: </strong><%= table.min_credits %>

         </p>

        <p><%= link_to "Edit Table", edit_cafe_table_path(table.cafe_id, table) %></p>
        <p> <%= link_to "Delete Table", [table.cafe, table], method: :delete %></p>
      </li>
    <% end %>
  </ul>
  <p><%= link_to "Add a new table", new_cafe_table_path(@user_cafe) %></p>
  </div>




  <div data-toggle4tabs-target="tab3content" class="container">

    <% @reviews.each do |rev| %>
      <ul style="padding: 0; list-style: none;">
        <li class="mb-3">
          <% rev.rating.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </li>
      <div>
          <li>
            <%= rev.content %>
          </li>
      </div>
      </ul>
  <% end %>

  </div>


  <div data-toggle4tabs-target="tab4content">
  <h2>Current Balance: <%= @user_cafe.owed_money%>€ (paid at month end)</h2>
  <p>(paid at month end)</p>

  </div>

</div>
