<div data-controller="togglemaplist">

  <div class="map-list-btn"><div class="btn-map" data-action="click->togglemaplist#tab1cont" data-togglemaplist-target="tab1"> Map</div> <div class ="btn-list" data-action="click->togglemaplist#tab2cont" data-togglemaplist-target="tab2"> List </div></div>

  <div class="map-view" data-togglemaplist-target="tab1content">
    <div id="map"
         style="width: 100%; height: 1000px;"
         data-markers="<%= @markers.to_json%>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
    </div>
  </div>

  <div id="list-view" data-togglemaplist-target="tab2content">
    <% @cafes.each do |cafe| %>
      <div class="card-trip">
        <% if cafe.photo.attached? %>
          <img src="<%= cl_image_path cafe.photo.key %>" />
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>

        <div class="card-trip-infos">
          <div>
            <h2> <%= link_to "#{cafe.name}", cafe_path(cafe) %></h2>
            <p> <%= cafe.location %></p>
          </div>
          <p class="card-trip-pricing"><small>Minimum credits applied: <%=cafe.credits_range  %></small></p>
        </div>
      </div>
    <% end %>
  </div>

</div>


