
<!--[+] SINGLE CAFE -->
<section class="single-cafe">
  <div class="inner">

    <div class="thumb" style="background:url('<%= cl_image_path @cafe.photo.key %>');">

    </div>

    <div class="cafe-fav">
       <% if current_user.follows?(@cafe) %>
          <%= link_to favourite_path(@cafe), method: :delete do %>
          <i class="fas fa-heart"></i>
      <% end %>
        <% else %>

        <%= simple_form_for @new_fav do |f| %>
          <%= f.input :favouritable_id, as: :hidden, input_html: { value: @cafe.id } %>
          <%= f.input :favouritable_type, as: :hidden, input_html: { value: "Cafe" } %>


           <button class="btn-heart" type = "submit">
            <i class="far fa-heart"></i>
          </button>
        <% end %>
      <% end %>
    </div>

    <div class="tabs-container">
      <input class="no" checked="checked" id="tab1" type="radio" name="tabs" />
      <input class="no" id="tab2" type="radio" name="tabs" />
      <input class="no" id="tab3" type="radio" name="tabs" />
      <div class="caffee-tabs">
        <ul>
          <li>

            <label for="tab1">Info</label>
          </li>
          <li>

            <label for="tab2">Menu</label>
          </li>
          <li>
            <label for="tab3">Nomad Reviews</label>
          </li>
        </ul>
      </div>
      <div class="tab-container" data-controller="bookings">
        <div class="tab1 tab-info tab-item">
          <div class="title-tab">
            <h3><%= @cafe.name %></h3>
            <span class="cafe-info"><%= @cafe.location %></span>
          </div>
          <div class="cafe-review">
            <div class="inner">
              <ul>
                <li>
                  <div class="nomad-review">
                    <span class="title">Nomad Reviews:</span>
                    <span class="score"><%= @cafe.average_rating %><i class="fas fa-star"></i></span>
                    <span class="num-score">(<%= @cafe.reviews.count %>)</span>
                  </div>
                </li>
                <% unless @user_reviews.empty? %>
                  <li>
                    <div class="main-review">
                      <span class="title">Your Review(s):</span>
                      <span class="score"><%= @average_user_rating %><i class="fas fa-star"></i></span>
                      <span class="num-score">(<%=@user_reviews.count %>)</span>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <!--[-] Reviews -->
          <!--[+] Caffee Policy -->
          <div class="caffee-policy">
            <span>Min credits: <%=@cafe.credits_range%></span>
          </div>
          <!--[-] Caffee Policy -->
          <!--[+] TABLE BOOK-->
            <div class="calendar-days d-flex w-100 justify-content-around">
              <% 7.times do |i| %>
              <div data-index="<%=i%>" data-action="click->bookings#select">
                <%= (DateTime.now + i + 1).strftime("%A") %>
              </div>
            <% end %>
            </div>
            <div class="slots">
              <ul>
                <% @cafe.tables.each do |table| %>
                  <%= form_for [table, @booking] do |f| %>
                <li>
                  <input class="no" id="slot-1" type="radio" name="slots">
                  <input class="no" id="null" type="radio" name="slots">
                  <div class="slot-title">
                    <div class=""><%= table.name%> - <%= table.spots %> spots</div>
                    <div class="slot-icons">
                      <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 489.3 489.3" style="enable-background:new 0 0 489.3 489.3;" xml:space="preserve">
<g>
	<g>
		<path d="M79.55,229.675c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0c70.6-70.6,185.5-70.6,256.1,0    c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7c10.2-10.2,10.2-26.8,0-37.1C318.75,138.575,170.55,138.575,79.55,229.675z"/>
		<path d="M150.35,300.475c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0c31.5-31.6,82.9-31.6,114.4,0    c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7c10.2-10.2,10.2-26.8,0-37C286.95,248.475,202.35,248.475,150.35,300.475z"/>
		<circle cx="244.65" cy="394.675" r="34.9"/>
		<path d="M481.65,157.675c-130.7-130.6-343.3-130.6-474,0c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0    c110.2-110.3,289.6-110.3,399.9,0c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7C491.85,184.575,491.85,167.975,481.65,157.675z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</span>
                      <span><svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"><g><path d="m406 92h-45v-77c0-8.284-6.716-15-15-15s-15 6.716-15 15v77h-150v-77c0-8.284-6.716-15-15-15s-15 6.716-15 15v77h-45c-8.28 0-15 6.72-15 15v60c0 8.28 6.72 15 15 15h15v75c0 69.63 52.98 127.11 120.75 134.25h.002c7.142 67.766 64.621 120.75 134.248 120.75 8.284 0 15-6.716 15-15s-6.716-15-15-15c-53.13 0-97.163-39.667-104.056-90.939h.006c66.95-7.911 119.05-65.021 119.05-134.061v-75h15c8.28 0 15-6.72 15-15v-60c0-8.28-6.72-15-15-15zm-109.39 175.61-30 30c-13.91 13.91-35.27-7.16-21.22-21.22l15.29-15.28-41.39-20.69c-9.14-4.58-11.13-16.79-3.9-24.03l30-30c14.02-14.02 35.26 7.17 21.22 21.22l-15.29 15.28 41.39 20.69c9.14 4.58 11.13 16.79 3.9 24.03z"/></g></svg></span>
                      <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="45.16px" height="45.16px" viewBox="0 0 45.16 45.16" style="enable-background:new 0 0 45.16 45.16;" xml:space="preserve">
<g>
	<g>
		<path d="M22.58,11.269c-6.237,0-11.311,5.075-11.311,11.312s5.074,11.312,11.311,11.312c6.236,0,11.311-5.074,11.311-11.312    S28.816,11.269,22.58,11.269z"/>
		<g>
			<g>
				<path d="M22.58,7.944c-1.219,0-2.207-0.988-2.207-2.206V2.207C20.373,0.988,21.361,0,22.58,0c1.219,0,2.207,0.988,2.207,2.207      v3.531C24.787,6.956,23.798,7.944,22.58,7.944z"/>
			</g>
			<g>
				<path d="M22.58,37.215c-1.219,0-2.207,0.988-2.207,2.207v3.53c0,1.22,0.988,2.208,2.207,2.208c1.219,0,2.207-0.988,2.207-2.208      v-3.53C24.787,38.203,23.798,37.215,22.58,37.215z"/>
			</g>
			<g>
				<path d="M32.928,12.231c-0.861-0.862-0.861-2.259,0-3.121l2.497-2.497c0.861-0.861,2.259-0.861,3.121,0      c0.862,0.862,0.862,2.26,0,3.121l-2.497,2.497C35.188,13.093,33.791,13.093,32.928,12.231z"/>
			</g>
			<g>
				<path d="M12.231,32.93c-0.862-0.863-2.259-0.863-3.121,0l-2.497,2.496c-0.861,0.861-0.862,2.26,0,3.121      c0.862,0.861,2.26,0.861,3.121,0l2.497-2.498C13.093,35.188,13.093,33.79,12.231,32.93z"/>
			</g>
			<g>
				<path d="M37.215,22.58c0-1.219,0.988-2.207,2.207-2.207h3.531c1.219,0,2.207,0.988,2.207,2.207c0,1.219-0.988,2.206-2.207,2.206      h-3.531C38.203,24.786,37.215,23.799,37.215,22.58z"/>
			</g>
			<g>
				<path d="M7.944,22.58c0-1.219-0.988-2.207-2.207-2.207h-3.53C0.988,20.373,0,21.361,0,22.58c0,1.219,0.988,2.206,2.207,2.206      h3.531C6.956,24.786,7.944,23.799,7.944,22.58z"/>
			</g>
			<g>
				<path d="M32.928,32.93c0.862-0.861,2.26-0.861,3.121,0l2.497,2.497c0.862,0.86,0.862,2.259,0,3.12s-2.259,0.861-3.121,0      l-2.497-2.497C32.066,35.188,32.066,33.791,32.928,32.93z"/>
			</g>
			<g>
				<path d="M12.231,12.231c0.862-0.862,0.862-2.259,0-3.121L9.734,6.614c-0.862-0.862-2.259-0.862-3.121,0      c-0.862,0.861-0.862,2.259,0,3.12l2.497,2.497C9.972,13.094,11.369,13.094,12.231,12.231z"/>
			</g>
		</g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg></span>

                    </div>
                    <label class="label-open" for="slot-1">Open</label>
                    <label class="label-close" for="null">Close</label>
                  </div>
                  <% 7.times do |index| %>
                  <div class="slot-container d-none" data-bookings-target="slot">
                    <div class="slot-header">
                      <div class="slot-data"> 
                        <span> <%= (DateTime.now + index + 1).strftime("%A #{(DateTime.now + index + 1).day.ordinalize} of %B") %></span>
                         <span> min credits: <%= table.min_credits %>€/h</span>
                      </div>
                      <div class="slot-">
                        <span>
                          Pick your slot(s):
                        </span>
                      </div>
                    </div>
                    <% Booking::SLOTS.keys.each do |key| %>
                    <!--[+] ITEM -->
                    <div class="slot-info">
                      <div class="time"><%= key.capitalize %></div>
                      <div class="slot-info-container">
                        <div class="slot-info-inner">
                          <span class="spots-info">
                            <%= table.spots_left((DateTime.now + index + 1), key) %> 
                            spot(s) left
                            <% if table.spots_left((DateTime.now + index + 1), key).positive?%>
                              - join the table
                            <% end %>
                            </span>
                          <div class="spot-nomad-info">
                              <%table.bookings_by_slot((DateTime.now + index + 1), key).each do |booking|%>
                              <div class = "nomad-profile">
                              <%= link_to user_path booking.user do %>
                                <div class = "thumb" style="background-image:url(<%= cl_image_path booking.user.photo.key %>)">
                                </div>
                              <%end%>
                              </div>
                              <%end%>
                              <% if table.bookings_by_slot((DateTime.now + index + 1), key).count.positive?%>
                                <span><a href="#" class="info">Check out Nomad profile(s)</a></span>
                              <%end%>
                          </div>
                        </div>
                        <%if table.spots_left((DateTime.now + index + 1), key).positive? %>
                        <%= f.check_box :slots, {multiple: true}, "#{key}_#{DateTime.now + 1}", nil %>
                        <%end%>
                      </div>
                    </div>
                    <% end %>
                    <!--[-] ITEM -->
                    <div class="slot-button">
                      <%= f.submit "Book" %>
                    </div>
                  </div>
                  <% end %>
                </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <!--[-] TABLE BOOK -->

        </div>
        <div class="tab3 tab-review tab-item">
          <!--[+] REVIEWS -->
          <div data-tabsshow-target="seereviews" class="container">
            <div class= "container py-5">
              <ul style="padding: 0; list-style: none;">
                <% @user_reviews.each do |review| %>

                  <li class="mb-3">
                    <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                    <% end %>

                    <div class="review-counter">
                         <%= review.content %>
                    </div>
                    <div class="link">
                  <% if review.booking.user == current_user %>
                    <%= link_to 'Delete', review_path(review), method: :delete  %>
                  <% end %>
                </div>
              </li>
              <% end -%>
                  </ul>





              <% @other_reviews.each do |review| %>
              <ul style="padding: 0; list-style: none;">
                <li class="mb-3">
                  <% review.rating.times do %>
                  <i class="fas fa-star"></i>
                  <% end %>
                </li>
                <div>
                    <li>
                      <%= review.content %>
                    </li>
                </div>
              </ul>
                <div class="link">
                  <% if review.booking.user == current_user %>
                    <%= link_to 'Delete', review_path(review), method: :delete %>
                  <% end %>
                </div>
              <% end -%>
            </div>
          </div>
          <!--[-] REVIEWS -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--[-] SINGLE CAFE -->
